body {
	color: white;
	background-color: #DDDDDD;
	font-family: monospace;
	padding: 0;
	margin: 0;
}

div {
	box-sizing: border-box;
}

#storage {
	display: none;
}

#menu {
	margin-right: auto;
	margin-left: auto;
	width: 100%;
	z-index: 10;
	max-height: 300px;
	overflow-y: auto;
	overflow-x: hidden;
	background: rgb(255,255,255); /* Old browsers */
	background: -moz-linear-gradient(top,  rgba(255,255,255,1) 0%, rgba(243,243,243,1) 50%, rgba(237,237,237,1) 51%, rgba(255,255,255,1) 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(243,243,243,1) 50%,rgba(237,237,237,1) 51%,rgba(255,255,255,1) 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom,  rgba(255,255,255,1) 0%,rgba(243,243,243,1) 50%,rgba(237,237,237,1) 51%,rgba(255,255,255,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ffffff',GradientType=0 ); /* IE6-9 */
	box-shadow: 0px 5px 5px rgba(0,0,0,.2);
}

#menu a {
	display: inline-block;
	padding: .5em 1em;
	cursor: pointer;
	color: #555;
}

#menu a:not(.noHover):hover{
	color: black;
	background-color: white;
}

#menu a.active{
	color: black;
	background: rgb(255,255,255); /* Old browsers */
	background: -moz-linear-gradient(top,  rgba(255,255,255,1) 0%, rgba(241,241,241,1) 50%, rgba(225,225,225,1) 51%, rgba(246,246,246,1) 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(241,241,241,1) 50%,rgba(225,225,225,1) 51%,rgba(246,246,246,1) 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom,  rgba(255,255,255,1) 0%,rgba(241,241,241,1) 50%,rgba(225,225,225,1) 51%,rgba(246,246,246,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f6f6f6',GradientType=0 ); /* IE6-9 */

}


.link:hover, .linkSmall:hover {
	color: black;
	background-color: white !important; 
}

#menu a.updated {
	background-color: #912A2C !important; 
}

.menuImage{
	vertical-align: middle;
}

#main {
	position: fixed;
	bottom: 0;
	left: 0;
	width: 100%;
	overflow: auto;
}

#log {
	padding: 1em 0;
	color: white;
	white-space: pre-wrap;
}

#log > div {
	padding: .25em 1em;
}

#titleContainer {
	position: fixed;
	left: 0;
	bottom: 0;
	width: 100%;
	color: black;
	background-color: #ccc;
	padding: 0 1em;
	line-height: 2em;
}

#title{
	display: inline-block;
}

#settingsUl
{
	list-style: none;
}

#settingsUl li
{
	padding: 10px;
}

.settingsDiv
{
	background-color: #AAAAAA;
	border: 2px solid white;
	margin: 10px;
	margin-top: 0px;
	color: black;
}

.settingsHeader
{
	background-color: white;
	margin: 10px;
	margin-bottom: 0px;
	color: black;
	padding: 5px;
}

.settingsDiv p a
{
	color: white;
}

.updatingDiv p
{
	margin: 2px;
	padding-left: 10px;
	word-wrap: break-word;
}

.settingsBuffer
{
	width: 200px;
	display: inline-block;
}

.link
{
	display: inline-block;
	padding: .5em 1em;
	cursor: pointer;
	border: solid 1px white;
	color: white;
	background-color: #333;
}

.linkSmall
{
	display: inline-block;
	padding: 3px 5px;
	margin: 1px;
	cursor: pointer;
	border: solid 1px white;
	line-height: 100%;
	color: white;
	background-color: #333;
}

.colorSelectorDiv
{
	border: 1px solid white;
	width: 20px;
	height: 20px;
	display: inline-block;
}

.inner-triangle{
    border-left: 7px solid transparent;
    border-bottom: 7px solid white;
    height: 0;
    width: 0;
    position: relative;
    right: 0px;
    z-index: 2;
    top: 11px;
    left: 11px;
}

.errorMessageLog{
	
	font-size: 200%;
	text-align: center;
	line-height: 200%;
}

.errorMessageRedBG{
	background-color: red;
}

.errorMessageGreenBG{
	background-color: green;
}

.context-menu {
  display: none;
  position: absolute;
  z-index: 10;
  background-color: green;
  border: 1px solid white;
  box-shadow: 0px 0px 5px black;
}

.context-menu__items{
	list-style: none;
	margin: 0px;
	padding: 0px;
	margin-top: 0px;
}

.context-menu--active {
  display: block;
}

.context-menu__item{
	padding-top: 5px;
	padding-left: 3px;
	padding-right: 3px;
	padding-bottom: 5px;
	cursor: pointer;
}

.context-menu__item:hover{
	background-color: white;
}

.context-menu__item a{
	color: white;
}

.context-menu__item:hover a{
	color: black;
}

.canvasMonitor{
	border: 1px solid white;
	background-color: #333;
}

.canvasMonitorDiv{
	margin: 20px;
	display: inline-block;
	box-shadow: 0px 0px 5px black;
	border-radius: 10px;
}

.canvasMonitorText{
	background-color: white;
	color: black;
	padding: 5px;
	text-align: center;
}

.canvasMonitorTextTop{
	border-radius: 10px 10px 0 0;
}

.canvasMonitorTextBottom{
	border-radius: 0 0 10px 10px;
}

#topBarOverview{
	overflow-x: scroll;
	height: 310px;
	white-space: nowrap;
}

#processIds table tr:hover{
	background-color: #ccc;
	color: black;
	cursor: default;
}

#processIds table tr th{
	background-color: #ccc;
	color: black;
	cursor: pointer;
	text-align: left;
}

#processIds table tr td{
	max-width: 50px;
	overflow: hidden;
	white-space: nowrap;
}

#processIds table tr:hover td .expandMenu{
	color: black;
}

#processIds table tr td .expandMenu{
	color: #333;
}

.canvasMonitorDiv table tr:hover{
	background-color: #ccc;
	color: black;
	cursor: default;
}

.canvasMonitorDiv table tr td{
	max-width: 50px;
	overflow: hidden;
}

.canvasMonitorDiv table tr:hover td .expandMenu{
	color: black;
}

.expandMenu{
	display: inline-block;
	float: right;
	cursor: pointer;
}
.expandMenu:after{
	content: '\2807';
 	font-size: 20px;
}

#bottomBarOverview{
	background-color: #333;
}

.bottomBarOverviewHalf{
	width: 48%; 
	display: inline-block;
	overflow: auto;
}

.bottomBarOverviewLeft{
	margin-left: 10px;
	border-right: 1px solid white;
}

.bottomBarOverviewRight{
	float: right;
	margin-right: 10px;
}

.led-red {
  margin: 0 auto;
  width: 24px;
  height: 24px;
  background-color: #F00;
  border-radius: 50%;
  box-shadow: rgba(0, 0, 0, 0.2) 0 -1px 7px 1px, inset #441313 0 -1px 9px, rgba(255, 0, 0, 0.5) 0 2px 12px;
  -webkit-animation: blinkRed 0.5s infinite;
  -moz-animation: blinkRed 0.5s infinite;
  -ms-animation: blinkRed 0.5s infinite;
  -o-animation: blinkRed 0.5s infinite;
  animation: blinkRed 0.5s infinite;
  scale: 0.5 0.5;
}

@-webkit-keyframes blinkRed {
    from { background-color: #F00; }
    50% { background-color: #A00; box-shadow: rgba(0, 0, 0, 0.2) 0 -1px 7px 1px, inset #441313 0 -1px 9px, rgba(255, 0, 0, 0.5) 0 2px 0;}
    to { background-color: #F00; }
}
@-moz-keyframes blinkRed {
    from { background-color: #F00; }
    50% { background-color: #A00; box-shadow: rgba(0, 0, 0, 0.2) 0 -1px 7px 1px, inset #441313 0 -1px 9px, rgba(255, 0, 0, 0.5) 0 2px 0;}
    to { background-color: #F00; }
}
@-ms-keyframes blinkRed {
    from { background-color: #F00; }
    50% { background-color: #A00; box-shadow: rgba(0, 0, 0, 0.2) 0 -1px 7px 1px, inset #441313 0 -1px 9px, rgba(255, 0, 0, 0.5) 0 2px 0;}
    to { background-color: #F00; }
}
@-o-keyframes blinkRed {
    from { background-color: #F00; }
    50% { background-color: #A00; box-shadow: rgba(0, 0, 0, 0.2) 0 -1px 7px 1px, inset #441313 0 -1px 9px, rgba(255, 0, 0, 0.5) 0 2px 0;}
    to { background-color: #F00; }
}
@keyframes blinkRed {
    from { background-color: #F00; }
    50% { background-color: #A00; box-shadow: rgba(0, 0, 0, 0.2) 0 -1px 7px 1px, inset #441313 0 -1px 9px, rgba(255, 0, 0, 0.5) 0 2px 0;}
    to { background-color: #F00; }
}

.led-yellow {
  margin: 0 auto;
  width: 24px;
  height: 24px;
  background-color: #FF0;
  border-radius: 50%;
  box-shadow: rgba(0, 0, 0, 0.2) 0 -1px 7px 1px, inset #808002 0 -1px 9px, #FF0 0 2px 12px;
  -webkit-animation: blinkYellow 1s infinite;
  -moz-animation: blinkYellow 1s infinite;
  -ms-animation: blinkYellow 1s infinite;
  -o-animation: blinkYellow 1s infinite;
  animation: blinkYellow 1s infinite;
  scale: 0.5 0.5;
}

@-webkit-keyframes blinkYellow {
    from { background-color: #FF0; }
    50% { background-color: #AA0; box-shadow: rgba(0, 0, 0, 0.2) 0 -1px 7px 1px, inset #808002 0 -1px 9px, #FF0 0 2px 0; }
    to { background-color: #FF0; }
}
@-moz-keyframes blinkYellow {
    from { background-color: #FF0; }
    50% { background-color: #AA0; box-shadow: rgba(0, 0, 0, 0.2) 0 -1px 7px 1px, inset #808002 0 -1px 9px, #FF0 0 2px 0; }
    to { background-color: #FF0; }
}
@-ms-keyframes blinkYellow {
    from { background-color: #FF0; }
    50% { background-color: #AA0; box-shadow: rgba(0, 0, 0, 0.2) 0 -1px 7px 1px, inset #808002 0 -1px 9px, #FF0 0 2px 0; }
    to { background-color: #FF0; }
}
@-o-keyframes blinkYellow {
    from { background-color: #FF0; }
    50% { background-color: #AA0; box-shadow: rgba(0, 0, 0, 0.2) 0 -1px 7px 1px, inset #808002 0 -1px 9px, #FF0 0 2px 0; }
    to { background-color: #FF0; }
}
@keyframes blinkYellow {
    from { background-color: #FF0; }
    50% { background-color: #AA0; box-shadow: rgba(0, 0, 0, 0.2) 0 -1px 7px 1px, inset #808002 0 -1px 9px, #FF0 0 2px 0; }
    to { background-color: #FF0; }
}

.led-green {
  margin: 0 auto;
  width: 24px;
  height: 24px;
  background-color: #ABFF00;
  border-radius: 50%;
  box-shadow: rgba(0, 0, 0, 0.2) 0 -1px 7px 1px, inset #304701 0 -1px 9px, #89FF00 0 2px 12px;
  scale: 0.5 0.5;
}

.led-blue {
  margin: 0 auto;
  width: 24px;
  height: 24px;
  background-color: #24E0FF;
  border-radius: 50%;
  box-shadow: rgba(0, 0, 0, 0.2) 0 -1px 7px 1px, inset #006 0 -1px 9px, #3F8CFF 0 2px 14px;
  scale: 0.5 0.5;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: green;
    overflow: auto;
    border: 1px solid white;
 	box-shadow: 0px 0px 5px black;
    z-index: 10;
    margin-left: -140px;
    margin-top: -70px;
}
.dropdown-content a {
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}
.dropdown-content a:hover {
    color: black;
}

.dropdown-content__items{
	list-style: none;
	margin: 0px;
	padding: 0px;
	margin-top: 0px;
}

.dropdown-content--active {
  display: block;
}

.dropdown-content__item{
	padding-top: 5px;
	padding-left: 3px;
	padding-right: 3px;
	padding-bottom: 5px;
	cursor: pointer;
}

.dropdown-content__item:hover{
	background-color: white;
}

.TableInfoForNet{
	padding: 5px;
}

.loadingSpinner{
	padding: 75px;
	background-color: #333;
	border: 1px solid white;
}